.container {
  width: 50rem;
  margin: 0 auto;
}

.container__title {
  font-size: var(--size-title);
  margin-bottom: var(--distance-0);
  font-weight: normal;
  letter-spacing: .1rem;
}

.container__sub-title {
  margin-bottom: 3rem;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
}

.form__input {
  border: none;
  outline: none;
  border-bottom: solid .3rem var(--color-6);
  padding: .5rem;
  margin-bottom: var(--distance-0);
  transition: all .2s linear;
}

.form__input:hover,
.form__input:focus {
  border-bottom: solid .3rem var(--color-7);
}

.form__input::placeholder {
  color: var(--color-8);
}

.form__btn {
  width: 15rem;
  border: none;
  padding: 1rem;
  background-color: var(--color-9);
  margin-bottom: 3rem;
  font-weight: bold;
  cursor: pointer;
}

.form__link {
  color: var(--color-2);
  font-weight: bold;
  cursor: pointer;
}

.form__link:hover {
  text-decoration: underline;
}