.container {
  margin-bottom: 2rem;
}

.container__title {
  font-size: var(--size-sub-title2);
  margin-right: var(--distance-0);
  font-weight: bold;
}

.container__categories {
  display: flex;
  align-items: center;
}

.container__category {
  margin-left: .5rem;
}