.item {
  display: flex;
  padding: 2rem;
  background-color: var(--color-4);
  margin-bottom: 2rem;
  border-bottom: .3rem solid var(--color-0);
  justify-content: space-between;
  flex-wrap: wrap;
  cursor: pointer;
  transition: all .3s;
}

.item:hover {
  background-color: #EDF6F7;
}

.item__left {
  display: flex;
  flex-direction: column;
  width: 80rem;
}

.item__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.item__title {
  font-size: var(--size-sub-title);
  color: var(--color-2);
  font-weight: bold;
  margin-bottom: var(--distance-1);
}

.item__url {
  font-weight: bold;
  margin-bottom: var(--distance-1);
  color: #6D326D;
}

.item__date {
  font-size: 1.8rem;
}

.item__clicks {
  font-weight: bold;
  color: #6D326D;
}

.link__btn--validate, 
.link__btn--remove {
  width: 15rem;
  border: none;
  padding: 1rem;
  background-color: var(--color-9);
  font-weight: bold;
  cursor: pointer;
  transition: all .3s;
}

.link__btn--validate {
  background-color: #4a329d;
  color: #fef5f2;
}

.link__btn--remove {
  background-color: #9b3012;
  color: #f6f4fc;
}

.link__btn--validate:hover {
  background-color: #fef5f2;
  color: #4a329d;
}

.link__btn--remove:hover {
  background-color: #f6f4fc;
  color: #9b3012;
}